<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <h1><a href="/"><%= l33tify("Urban Dictionary") %></a></h1>
    <h2><marquee><%= l33tify("it's urban dictionary for leet people no noobs please") %></marquee></h2>
    <nav>
      <ul>
        <% if logged_in? %>
        <li><%= l33t_greet %></li>
        <li><a href="/sessions/logout"><%= l33tify("logout") %></a></li>
        <li><a href="/users/<%= current_user.id %>/faved_definitions"><%= l33tify("favorites") %></a></li>
        <% else %>
        <li><a href="/sessions/new"><%= l33tify("login") %></a></li>
        <li><a href="/users/new"><%= l33tify("register") %></a></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <%= yield %>
</body>
</html>
